<!DOCTYPE html> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />  
  </head>  
  <body>  
    <h2><%= @rack.name %> </h2>
	<p><%= @error_msg.html_safe %></p>  
    <p>@ <%= Time.now.strftime("%a %Y-%m-%d %H:%M:%S ") %><br/>  </p>
   </body> 
</html>