@font-face { font-family:chunk; src: url("/fonts/Chunkfive.ttf"); }
@font-face { font-family:slkscr; src: url("/fonts/slkscr.ttf"); }

h1, h2, h3 {font-weight:normal; line-height:1.2;}
h1, h2, h3  {font-family:chunk; georgia, serif;}

.status{
	font-family:slkscr, verdana, sans-serif;
}

.status_true{
	font-family:slkscr, verdana, sans-serif;
	color: green;
}

.status_false{
	font-family:slkscr, verdana, sans-serif;
	color: red;
}

body{
	background: url("/images/rapanui-green.png") fixed no-repeat;
	background-position: right;
}
