<div style="float:right; margin-right:24%; text-align:right;">
<form action="/servers/search">
	<label for="search">Search
	<span style="font-size:9px; color: #A0A0A0"></span>
	<input type="text" size="30" id="search" value="name or ip or desc" onfocus="this.value=''" name="search"/>
	</label>
	<button type="submit">Go</button>
</form>
</div>